@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 30px;
}

input{
    color: grey;
    font-size: 1.2rem;
    width: 100%;
}

.card{
    align-content: center;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.card p{
    padding: 5px;
    text-align: center;
}

.card img{
    max-height: 170px;
}

.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#title{
    font-family: 'Anton', sans-serif;
    font-size: 57px;
    margin-bottom: 0px;
}

#subtitle{
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    margin-top: 0px;
}

#input{
    font-family: sans-serif;
    font-size: 17px;
    width: 30%;
}